/* 
	fonts
*/
@font-face {
  font-family: "Julius";
  src: url("../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Stint Ultra Expanded";
    src: url("../fonts/Stint_Ultra_Expanded/StintUltraExpanded-Regular.ttf") format("truetype");
}

/* 
	class
*/
.julius {
	font-family: 'Julius' !important;
}
.stint-ultra {
	font-family: "Stint Ultra Expanded" !important;
}